<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Application</title>
    <style>
        h1 {
            font-size: 40px;
            font-style: "proxima-nova", "Roboto";
            color: rgb(52, 59, 67);
        }
    </style>
</head>
<body>
    <h1>
        My Data Portfolio
    </h1>
    <img id="banner" src="http://github.com/ryan-lafferty-portfolio/static/Northern_Lights.jpeg">
</body>
</html>